<app-home></app-home>
<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">

    <div class="mb-3">
        <label>Check-In Date</label>
        <input class="form-control" type="date" formControlName="checkInDate">
        <small class="text-danger" *ngIf="reservationForm.get('checkInDate')?.invalid && reservationForm.get('checkInDate')?.touched">
            Check-In-Date Required
        </small>
    </div>

    <div  class="mb-3">
        <label>Check-Out Date</label>
        <input class="form-control" type="date" formControlName="checkOutDate">
        <small class="text-danger" *ngIf="reservationForm.get('checkOutDate')?.invalid && reservationForm.get('checkOutDate')?.touched">
            check-Out-Date Required
        </small>
    </div>
        
    <div  class="mb-3">
        <label>Guest Name</label>
        <input class="form-control" type="text" formControlName="guestName">
        <small class="text-danger" *ngIf="reservationForm.get('guestName')?.invalid && reservationForm.get('guestName')?.touched">
            guest Name Required
        </small>
    </div>

    <div  class="mb-3">
        <label>Guest Email</label>
        <input class="form-control" type="email" formControlName="guestEmail">
        <small class="text-danger" *ngIf="reservationForm.get('guestEmail')?.invalid && reservationForm.get('guestEmail')?.touched">
            guest Email Required
        </small>
    </div>

    <div  class="mb-3">
        <label>Room No</label>
        <input class="form-control" type="number" formControlName="roomNumber">
        <small class="text-danger" *ngIf="reservationForm.get('roomNumber')?.invalid && reservationForm.get('roomNumber')?.touched">
            room Number Required
        </small>
    </div>

    <button type="submit" [disabled]="reservationForm.invalid">Submit</button>
</form>